### Reglas de codificacion en la asignacion de variables
1.Utilizar en la medida de lo posible 

2.

3.

4.Los nombres de las clases en la primera letra del nombre que sea mayuscula: eje: Zapato:

In [5]:
function cuadrado(x)
    resultado = x*x
    return resultado
end

64

In [10]:
num1 = 6
resultado = cuadrado(6)
println(resultado)
result2 = 2cuadrado(6÷2)+5
println(result2)
variable_cadena = cuadrado("Hola")
println(typeof(variable_cadena))
println(variable_cadena)

36
23
String
HolaHola

In [12]:
function cuadradoEntero(n::Int64)
    return n*n
end
function main()
    println(cuadradoEntero(5))
    println(typeof(cuadradoEntero(5)))
end
main()

25
Int64

In [18]:
function cuadradoB(n::Int64)
    return n*n
end
#cuadradoB(9)

function cuadradoB(x::Float64)
    return x*x
end
cuadradoB(9)

function main()
    println(cuadradoB(4.4))
    println(cuadradoB(6))
    println(cuadradoB("Hola"))
end
main()

19.360000000000003
36

LoadError: MethodError: no method matching cuadradoB(::String)

Closest candidates are:
  cuadradoB(::Float64)
   @ Main In[18]:6
  cuadradoB(::Int64)
   @ Main In[18]:1

In [20]:
# Con este tipo de funciones donde el tipo de dato que entra es distinto y por ende el resultado va a cambiar
# se puede decir que se usa el polimorfismo ya que la funcion se acopla al tipo de dato para el que va a servir

function my_function(n::Int64)
    resultado::Int64 = n+n
    return resultado
end
function my_function(x::Float64)
    resultado::Float64 = x*0.5
    return resultado
end

function main()
    println(my_function(6))
    println(my_function(6.0))
end
main()

12
3.0

In [22]:
function my_function2(n)
    println("En my_function2, antes de incrementar, n es $n")
    n += 7
    println("En my_function2, despues de incrementar, n es $n")
end

function main()
    x = 5
    println("En la funcion principal, x es $x")
    y = my_function2(x)
    println("Despues de invocar en la funcion principal, x es $x")
    println(y)
end
main()

En la funcion principal, x es 5
En my_function2, antes de incrementar, n es 5
En my_function2, despues de incrementar, n es 12
Despues de invocar en la funcion principal, x es 5
nothing

In [24]:
function intercambio(a,b)
    println("Sus valores antes de intercambiar son $a,$b")
    t = a
    a = b
    b = t
    println("Sus valores despues del intercambio son $a, $b")
end
function main()
    a = 3
    b = 8
    intercambio(a,b)
    println("$a,$b")
end
main()

Sus valores antes de intercambiar son 3,8
Sus valores despues del intercambio son 8, 3
3,8

In [25]:
function test1(n)
    "Hola $n"  #en algunos casos se puede omitir el return 
end
test1(34)

"Hola 34"

In [37]:
function factorial(n::Int128)
    resultado = 1
    for i ∈ 1:n
        resultado = resultado*i
    end
    resultado
end

function factorial(x::Float64)
    resultado = 1.0
    contador = 1.0
    while contador < x
        resultado = resultado * contador
        contador += 1
    end
    resultado
end
n::Int128 = 50
println(factorial(n))
println(factorial(50.0))

-17876557688806561605769647156776402944
6.082818640342675e62

n! = 1*2*3*4*5*6
n! = n * (n-1)*(n-2)....
n! = n * (n-1)! para n >= 1, 0!=1,1! = 1

In [38]:
function factorial2(n::Int128)
    if n == 1 || n == 0
        return 1
    end
    return n * factorial2(n-1)
end

p::Int128 = 20
println(factorial2(p))

2432902008176640000

In [42]:
factorial(20)
factorial(big(50))

30414093201713378043612608166064768844377641568960512000000000000

In [ ]:
[4,6,7,1,28,-16,32,-2]
# un algoritmo para ordenar una lista es quicksort() pero se debe buscar su implementacion en cada lenguaje

In [40]:
b1::Int128 = factorial2(Int128(21))

51090942171709440000

## Clases
### Tipos Base

-Primitivos

-Enteros

-Flotantes(reales)

-Caracter

### Compuestos

-Vectores

-Matrices

-Diccionarios

-Tuplas

Definidos por el usuario

-Compuestos,heterogeneos.

### Struct
-Lenguaje C

### Lenguajes orientados a objetos
-Clases:Class

-Lenguajes como:C++,Java,Python,C#

clase:
  caracteristicas
  comportamientos
  
Métodos: Constructor,Destructor, getter,setter,display,calculo

In [43]:
struct cosa
    nombre::String
end
chuche = cosa("Chunchita")

cosa("Chunchita")

In [71]:
struct Alumno
    nombre::String
    avance_creditos::UInt16
    num_cuenta::String
end

struct Profesor
    nombre::String
    cursos_impartidos::UInt16
    num_trabajador::String
end

function displayDatosAlumno(alumno::Alumno)
    println("Nombre: $(alumno.nombre)")
    println("Creditos: $(alumno.avance_creditos)")
    println("Numero de cuenta: $(alumno.num_cuenta)")
end
    
function displayDatosProfesor(profesor::Profesor)
    println("Nombre: $(profesor.nombre)")
    println("Cursos impartidos: $(profesor.cursos_impartidos)")
    println("Numero de trabajador: $(profesor.num_trabajador)")
end
    
Pepe = Alumno("Jose",240,"31708598-8")
Pepe.num_cuenta
Tronchatoro = Profesor("Tronchatoro",3,"3847549-1")
displayDatosAlumno(Pepe) # solo funciona con el tipo Alumno por eso manda eror con tronchatoro ya que es 
println("----------------------------")
displayDatosProfesor(Tronchatoro) # del tipo profesor

Nombre: Jose
Creditos: 240
Numero de cuenta: 31708598-8
----------------------------
Nombre: Tronchatoro
Cursos impartidos: 3
Numero de trabajador: 3847549-1

In [72]:
function get_nombre(alumno::Alumno)
    return alumno.nombre
end

function get_cuenta(alumno::Alumno)
    return alumno.num_cuenta
end

alumno1 = get_nombre(Pepe)

"Jose"